################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lost in Everglades/.vs/Lost in Everglades/v16/Browse.VC.opendb
*.opendb
*.lastbuildstate
/Everglades The Game/Everglades The Game/Debug/Everglad.de6065c5.tlog
*.db
*.db-shm
